<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USB Device Communication</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>

    <h1>USB Device Communication</h1>

    <div id="usb-list"></div>

    <div id="send-message-section">
        <h3>Device Control</h3>
        
        <!-- Control Buttons -->
        <div>
            <button id="upButton" onmousedown="startSendingData('up')" onmouseup="stopSendingData()" onmouseout="stopSendingData()">Up</button>
            <button id="downButton" onmousedown="startSendingData('down')" onmouseup="stopSendingData()" onmouseout="stopSendingData()">Down</button>
            <button id="resetButton" onclick="resetCommunication()">Reset</button>
        </div>
    </div>

    <div id="response"></div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
